Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as groupby() and read_csv().

# You can find covid related data under project's data folder 
base_url = "../data/covid/"
infected_dataset_url = base_url + "time_series_covid19_confirmed_global.csv"
recovered_dataset_url = base_url + "time_series_covid19_recovered_global.csv"
deaths_dataset_url = base_url + "time_series_covid19_deaths_global.csv"

In [23]:
import pandas as pd

In [24]:
num_of_case = pd.Series([6172812, 3764419, 4320530, 1096799, 5722298, 5999244, 4342054, 136097, 2249344, 720353])

In [25]:
num_of_case

0    6172812
1    3764419
2    4320530
3    1096799
4    5722298
5    5999244
6    4342054
7     136097
8    2249344
9     720353
dtype: int64

In [26]:
num_of_case.name = "Number of Case"

In [27]:
num_of_case

0    6172812
1    3764419
2    4320530
3    1096799
4    5722298
5    5999244
6    4342054
7     136097
8    2249344
9     720353
Name: Number of Case, dtype: int64

In [28]:
num_of_case.dtypes

dtype('int64')

In [29]:
num_of_case.values

array([6172812, 3764419, 4320530, 1096799, 5722298, 5999244, 4342054,
        136097, 2249344,  720353], dtype=int64)

In [30]:
num_of_case[2]

4320530

In [31]:
num_of_case.index

RangeIndex(start=0, stop=10, step=1)

In [32]:
num_of_case.index = [
    'Russia',
    'Germany',
    'Italy',
    'Swedan',
    'United Kingdom',
    'France',
    'Spain',
    'Norway',
    'Ukraine',
    'Serbia',
]

In [33]:
num_of_case

Russia            6172812
Germany           3764419
Italy             4320530
Swedan            1096799
United Kingdom    5722298
France            5999244
Spain             4342054
Norway             136097
Ukraine           2249344
Serbia             720353
Name: Number of Case, dtype: int64

In [34]:
num_of_deaths = pd.Series([155380, 92050, 127971, 14615, 129172, 111667, 81268, 799, 52876, 7105])

In [35]:
num_of_deaths.name = "Number of Deaths"

In [36]:
num_of_deaths.index = [
    'Russia',
    'Germany',
    'Italy',
    'Swedan',
    'United Kingdom',
    'France',
    'Spain',
    'Norway',
    'Ukraine',
    'Serbia',
]

In [37]:
num_of_deaths

Russia            155380
Germany            92050
Italy             127971
Swedan             14615
United Kingdom    129172
France            111667
Spain              81268
Norway               799
Ukraine            52876
Serbia              7105
Name: Number of Deaths, dtype: int64

In [40]:
pd.Series(num_of_deaths, index=['Serbia', 'Swedan'])

Serbia     7105
Swedan    14615
Name: Number of Deaths, dtype: int64

In [39]:
pd.Series(num_of_case, index=['Norway', 'United Kingdom'])

Norway             136097
United Kingdom    5722298
Name: Number of Case, dtype: int64

In [42]:
num_of_case.iloc[2]

4320530

In [43]:
num_of_case > 3000000

Russia             True
Germany            True
Italy              True
Swedan            False
United Kingdom     True
France             True
Spain              True
Norway            False
Ukraine           False
Serbia            False
Name: Number of Case, dtype: bool

In [45]:
num_of_deaths > 100000

Russia             True
Germany           False
Italy              True
Swedan            False
United Kingdom     True
France             True
Spain             False
Norway            False
Ukraine           False
Serbia            False
Name: Number of Deaths, dtype: bool

In [46]:
num_of_case.mean()

3452395.0

In [47]:
num_of_deaths.mean()

77290.3

In [48]:
num_of_deaths.iloc[-1] = 1000

In [49]:
num_of_deaths

Russia            155380
Germany            92050
Italy             127971
Swedan             14615
United Kingdom    129172
France            111667
Spain              81268
Norway               799
Ukraine            52876
Serbia              1000
Name: Number of Deaths, dtype: int64

In [50]:
df = pd.DataFrame({
    'Population': [146424729, 84432670, 58787291 , 10545310, 67026292 , 68128000 , 48345223 , 5514042 ,41130432 , 6647003],
    'Deaths': [
        155380, 
        92050, 
        127971, 
        14615, 
        129172, 
        111667, 
        81268, 
        799, 
        52876, 
        7105,
    ],
    'Cases': [
        6172812, 
        3764419, 
        4320530, 
        1096799, 
        5722298, 
        5999244, 
        4342054, 
        136097, 
        2249344, 
        720353,
    ],
    'Countries': [
    'Russia',
    'Germany',
    'Italy',
    'Swedan',
    'United Kingdom',
    'France',
    'Spain',
    'Norway',
    'Ukraine',
    'Serbia',
    ]
}, columns=['Population', 'Deaths', 'Cases', 'Countries'])

In [51]:
df

   Population  Deaths    Cases       Countries
0   146424729  155380  6172812          Russia
1    84432670   92050  3764419         Germany
2    58787291  127971  4320530           Italy
3    10545310   14615  1096799          Swedan
4    67026292  129172  5722298  United Kingdom
5    68128000  111667  5999244          France
6    48345223   81268  4342054           Spain
7     5514042     799   136097          Norway
8    41130432   52876  2249344         Ukraine
9     6647003    7105   720353          Serbia

In [52]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [53]:
df.index = [
    'Russia',
    'Germany',
    'Italy',
    'Swedan',
    'United Kingdom',
    'France',
    'Spain',
    'Norway',
    'Ukraine',
    'Serbia',
    ]

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, Russia to Serbia
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  10 non-null     int64
 1   Deaths      10 non-null     int64
 2   Cases       10 non-null     int64
 3   Countries   10 non-null     object
dtypes: int64(3), object(1)
memory usage: 400.0+ bytes

In [56]:
df.describe()

         Population         Deaths         Cases
count  1.000000e+01      10.000000  1.000000e+01
mean   5.369810e+07   77290.300000  3.452395e+06
std    4.286785e+07   55851.808211  2.264218e+06
min    5.514042e+06     799.000000  1.360970e+05
25%    1.819159e+07   24180.250000  1.384935e+06
50%    5.356626e+07   86659.000000  4.042474e+06
75%    6.785257e+07  123895.000000  5.377237e+06
max    1.464247e+08  155380.000000  6.172812e+06

In [57]:
df.loc["Swedan"]

Population    10545310
Deaths           14615
Cases          1096799
Countries       Swedan
Name: Swedan, dtype: object

In [59]:
df = pd.DataFrame({
    'Population': [146424729, 84432670, 58787291 , 10545310, 67026292 , 68128000 , 48345223 , 5514042 ,41130432 , 6647003],
    'Deaths': [
        155380, 
        92050, 
        127971, 
        14615, 
        129172, 
        111667, 
        81268, 
        799, 
        52876, 
        7105,
    ],
    'Cases': [
        6172812, 
        3764419, 
        4320530, 
        1096799, 
        5722298, 
        5999244, 
        4342054, 
        136097, 
        2249344, 
        720353,
    ],
    'Countries': [
    'Russia',
    'Germany',
    'Italy',
    'Swedan',
    'United Kingdom',
    'France',
    'Spain',
    'Norway',
    'Ukraine',
    'Serbia',
    ],
    'Continent': [
    'Europe and Asia',
    'Europe',
    'Europe',
    'Europe',
    'Europe',
    'Europe',
    'Europe',
    'Europe',
    'Europe',
    'Europe',
    ]
}, columns=['Population', 'Deaths', 'Cases', 'Countries', 'Continent'])

In [60]:
df

   Population  Deaths    Cases       Countries        Continent
0   146424729  155380  6172812          Russia  Europe and Asia
1    84432670   92050  3764419         Germany           Europe
2    58787291  127971  4320530           Italy           Europe
3    10545310   14615  1096799          Swedan           Europe
4    67026292  129172  5722298  United Kingdom           Europe
5    68128000  111667  5999244          France           Europe
6    48345223   81268  4342054           Spain           Europe
7     5514042     799   136097          Norway           Europe
8    41130432   52876  2249344         Ukraine           Europe
9     6647003    7105   720353          Serbia           Europe

In [61]:
df.loc[df['Population'] > 65000000]

   Population  Deaths    Cases       Countries        Continent
0   146424729  155380  6172812          Russia  Europe and Asia
1    84432670   92050  3764419         Germany           Europe
4    67026292  129172  5722298  United Kingdom           Europe
5    68128000  111667  5999244          France           Europe

In [65]:
new_row = pd.Series({
    'Population': 85279553,
    'Continent': 'Europe',
    'Deaths': '50997',
    'Cases':'5618417',
    'Countries': 'Türkiye'
}, name="10"
)

In [66]:
pd.concat([df, new_row.to_frame().T], ignore_index=False)

   Population  Deaths    Cases       Countries        Continent
0   146424729  155380  6172812          Russia  Europe and Asia
1    84432670   92050  3764419         Germany           Europe
2    58787291  127971  4320530           Italy           Europe
3    10545310   14615  1096799          Swedan           Europe
4    67026292  129172  5722298  United Kingdom           Europe
5    68128000  111667  5999244          France           Europe
6    48345223   81268  4342054           Spain           Europe
7     5514042     799   136097          Norway           Europe
8    41130432   52876  2249344         Ukraine           Europe
9     6647003    7105   720353          Serbia           Europe
10   85279553   50997  5618417         Türkiye           Europe

In [67]:
pd.concat([df, new_row.to_frame().T], ignore_index=False)

   Population  Deaths    Cases       Countries        Continent
0   146424729  155380  6172812          Russia  Europe and Asia
1    84432670   92050  3764419         Germany           Europe
2    58787291  127971  4320530           Italy           Europe
3    10545310   14615  1096799          Swedan           Europe
4    67026292  129172  5722298  United Kingdom           Europe
5    68128000  111667  5999244          France           Europe
6    48345223   81268  4342054           Spain           Europe
7     5514042     799   136097          Norway           Europe
8    41130432   52876  2249344         Ukraine           Europe
9     6647003    7105   720353          Serbia           Europe
10   85279553   50997  5618417         Türkiye           Europe